# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/

# PyInstaller
build/
dist/
*.spec

# Weights & Models
# Keep weights if they are small, but usually, we ignore them and provide a download script
# weights/*.pt

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
